body {
    background-color: gainsboro;
}

fieldset {
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
}

.secondBlock {
    margin-left: 35%;
    margin-right: 35%;
}

.thirdBlock {
    margin-left: 35%;
    margin-right: 35%;
}

.fourBlock {
    margin-left: 35%;
    margin-right: 35%;
}

.fifthBlock {
    margin-left: 35%;
    margin-right: 35%;
